h1 {
  color:
}

.card a {
  color: black;

  display: inline-block;
  margin: 0 .5em 1em;
  background-color: #fff;
  text-align: left;
  text-decoration: none;

  -webkit-filter: opacity(100%);
  filter: opacity(100%);

  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.card h3 {
  color: #da973f;
}

.card p {
  color: #808080;
}

.card h4 {
  color: #808080;
}

.card a:hover {
  -webkit-filter: opacity(35%);
  filter: opacity(35%);
}
