.card,
.card a {
  border-radius: 8px;
  display: inline-block;
  margin: 0 .5em 1em;
  padding: .5rem;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
}

.card a:hover {
  background-color: black;
}
