h1 {
  color:
}

.card a {
  display: inline-block;
  margin: 0 .5em 1em;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
}

.card a:hover {
  color: #fff;
  background-color: black;
}
