html {
  font-family: 'Open Sans', sans-serif;
}

/*Navigtation css */
nav ul {
  text-align: center;
}

/*Navigtation css */
nav li {
  list-style-type: none;
}

/*Navigtation css */
nav a {
  color: #707070;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

/*footer css */
footer {
  background-color: #F4F4F4;
}

/*banner css  --adjust the min-height later--*/
.home-banner {
  background-image: url("../images/placeholder-16by9.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30em;
}

/*this is banner content info*/
.banner-info {
  max-width: 35em;
}

img {
  display: block;
  margin: auto;
}

/* this is newletter banner --adjust the min-height-- */
.newsletter-banner {
  background-image: url("../images/placeholder-3by1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 15em;
}

/*div for call to action section */
.call-to-action-section {
  background-color: #E5E5E5;
}

/*button for contact*/
.contact-btn {
  background-color: #2E85FA;
  color: #fff;
  border: none;
}

/*screen size Navigtation css */
@media only screen and (min-width: 16px) {

  .icon {
    display: block;
    margin: auto;
  }

/*this is horizontal navigation*/
  .horizontal {
    display: none;
  }

  .btn {
    display: block;
    margin: auto;
  }

}

@media only screen and (min-width: 38em) {

  .icon {
    display: inline-block;
    margin: 0;
  }

  .toggle {
    display: none;
  }

/*this is horizontal navigation*/
  .horizontal {
    display: inline;
  }

  .btn {
    display: inline-block;
    margin: 0;
  }

  .contact-btn {
    float: right
  }

/*this is banner button*/
  .banner-content .contact-btn {
    float: left;
  }

}
