html {
  font-family: 'Open Sans', sans-serif;
}

/*Navigtation css */
nav ul {
  text-align: center;
}

/*Navigtation css */
nav li {
  list-style-type: none;
}

/*Navigtation css */
nav a {
  color: #707070;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}
