html {
  font-family: 'Open Sans', sans-serif;
}

/*Navigtation css */
nav ul {
  text-align: center;
}

/*Navigtation css */
nav li {
  list-style-type: none;
}

/*Navigtation css */
nav a {
  color: #707070;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

/*footer css */
footer {
  background-color: #F4F4F4;
}

/*banner css  --adjust the min-height later--*/
.home-banner {
  background-image: url("../images/placeholder-16by9.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30em;
}

/*this is banner content info*/
.banner-info {
  max-width: 35em;
}

img {
  display: block;
  margin: auto;
}

/* this is newletter banner --adjust the min-height-- */
.newsletter-banner {
  background-image: url("../images/placeholder-3by1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 15em;

  /*it set its to grayscale*/
  -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/**/
.newsletter-heading {
  color: #2E85FA;
}

.newsletter-banner:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*this is newletter banner --adjust the min-height-- */
.human-rights-info-banner {
  background-color: #E5E5E5
}

/*this is quote banner --adjust the min-height-- */
.quote-banner {
 min-height: 21em;
}

/*div for call to action section */
.call-to-action-section {
  background-color: #E5E5E5;
}

/*default button*/
.btn {
  background-color: #707070;
  color: #fff;
  border: 0;
}

/*hover for default button*/
.btn:hover {
  background-color: black;
}

/*button for contact*/
.contact-btn {
  background-color: #2E85FA;
  color: #fff;
  border: none;
}

/*hover for contact button*/
.contact-btn:hover {
  background-color: #fff;
  color: #2E85FA;
}

/*screen size Navigtation css */
@media only screen and (min-width: 16px) {

  .icon {
    display: block;
    margin: auto;
  }

/*this is horizontal navigation*/
  .horizontal {
    display: none;
  }

  .btn {
    display: block;
    margin: auto;
  }

}

@media only screen and (min-width: 38em) {

  .icon {
    display: inline-block;
    margin: 0;
  }

  .btn {
    display: inline-block;
    margin: 0;
  }

/*this is contact button button*/
  .contact-btn {
    float: right
  }

/*this is banner contact button*/
  .banner-content .contact-btn {
    float: left;
  }

}

@media only screen and (min-width: 60em) {

  .toggle {
    display: none;
  }

/*this is horizontal navigation*/
  .horizontal {
    display: inline-block;
  }

  nav ul {
    text-align: right;
  }

}
