<div class="gutter-2 pad-t grid grid-middle call-to-action-section" itemscope itemtype="http://schema.org/ContactPage">
  <div class="unit xs-1 s-1 m-2-3 l-1-2 xl-1-2">
    <p class="push" itemprop="accessibilitySummary">If any of these topics apply to you, please feel free to contact Letts Law now. The faster you are able to reach out with your problem, the easier we can find a solution.</p>
  </div>
  <div class="unit xs-1 s-1 m-1-3 l-1-2 xl-1-2 push">
    <a class="btn text-center contact-btn" href="{{site.baseurl}}/contact/" itemprop="significantLink">Contact Now</a>
  </div>
</div>
