<link href="{{site.baseurl}}/css/toggle.css" rel="stylesheet">

<div class="toggle">
  <input type="checkbox" class="nav-check" id="nav-check">
  <label class="nav-label  unit x-1-2" for="nav-check">
    <img class="nav-open" src="{{site.baseurl}}/images/nav-icon.svg" alt="Open Navigation">
    <img class="nav-close" src="{{site.baseurl}}/images/nav-icon-close.svg" alt="Close Navigation">
  </label>
  <ul class="nav unit">
    <li class="gutter-1-2"><a href="{{site.baseurl}}/index.html">Home</a></li>
    <li class="gutter-1-2"><a href="{{site.baseurl}}/family-law/">Family Law</a></li>
    <li class="gutter-1-2"><a href="{{site.baseurl}}/human-rights/">Human Right</a></li>
    <li class="gutter-1-2"><a href="{{site.baseurl}}/newsletter/">Newsletter</a></li>
    <li class="gutter-1-2"><a href="{{site.baseurl}}/contact/">Contact</a></li>
  </ul>
</div>
