---
layout: default
---

  <main itemscope itemtype="http://schema.org/Blog">

      <div class="relative embed embed-4by1">
        <img class="img-flex embed-item" src="{{page.banner}}" alt="Image of the article" itemprop="sharedContent">
      </div>


      <div class="max-length gutter-1-2 pad-t">

        <h1 class="yotta push-1-2" itemprop="headline">{{page.title}}</h1>

        {{content}}

        <a class="back-page" href="{{site.baseurl}}/newsletter/"> ← Back to the newsletter</a>

      </div>

  </main>
