<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Letts Law · Law firm, specilize in human rights and family law · Ottawa Ontario Canada</title>
    <meta name="description" content="Letts law is a unique law firm that combines an advanced understanding of parenting, single parenting, divorce and the rights of children with a human right practice.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico">
  <link href="/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
</head>
<body>

  <nav class="relative" itemscope itemtype="http://schema.org/ProfessionalService" role="nav" id="nav" tabindex="0">
    <div class="gutter-2 grid grid-middle pad-t-0">
      <div class="unit xs-1-2 s-1-2 m-1-2 l-1-4">
        <a href="{{site.baseurl}}/index.html" itemprop="logo" itemscope itemtype="http://schema.org/URL">
          <i class="icon i-128">
          <img src="{{site.baseurl}}/images/letts-law-logo-black.svg" alt="Letts Law Logo" itemprop="logo">
          </i>
        </a>
      </div>

      {% include toggle.html %}

      <ul class="skip-links unit">
        <li><a href="#nav">Skip to navigation</a></li>
        <li><a href="#main">Skip to Main</a></li>
        <li><a href="#form">Skip to form</a></li>
        <li><a href="#footer">Skip to footer</a></li>
      </ul>

      <div class="unit xs-1 s-1 m-1-2 l-3-4 horizontal right">
        {% include head-navigation.html %}
      </div>
    </div>
  </nav>

  <main>
    {{content}}
  </main>

  <footer class="gutter-2 pad-t" itemscope itemtype="http://schema.org/Service" role="contentinfo" id="footer" tabindex="0">
    <nav class="grid grid-middle">
      <div class="unit xs-1 s-1 m-1-3 l-1-3 xl-1-3">
        <a href="{{site.baseurl}}/index.html" itemprop="logo" itemscope itemtype="http://schema.org/URL">
          <i class="icon i-128">
          <img src="{{site.baseurl}}/images/letts-law-logo-black.svg" alt="Letts Law Logo" itemprop="logo">
          </i>
        </a>
      </div>

      {% include footer-nav.html %}
    </nav>
  </footer>

</body>
</html>
